extends componentes/plantilla.pug
block contenidos
        section.intro
            .intro__imagen: img(src="../images/imagen.png", alt="")
            .intro__contenido
                h2 #{titulos[0]}
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium assumenda quos voluptates doloremque illum corrupti optio numquam temporibus magni! Tempore voluptatem magnam culpa sit aliquid, autem delectus incidunt adipisci nulla?
                    span Lorem ipsum dolor sit amet consectetur adipisicing.
                a.boton Leer más

        main.contenido
            +caja('imagen.png', titulos[1], lorem)
            +caja('imagen.png', titulos[2], lorem)
            +caja('imagen.png', titulos[3], lorem)